.account-container {
    /*background-image:url('../Images/heart_background.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:repeat-y;*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 0;
}

.account-box {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 500px;
    width: 100%;
    opacity: .9;
}

.account-confirm {
    /*margin: 0;
    padding: 0;
    overflow: hidden;*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.account-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 52px;
    width: 100%;
    background-color: #10a37f;
    color: #fff;
    margin: 24px 0 0;
    border-radius: 6px;
    padding: 4px 16px;
    font: inherit;
    font-size: large;
    border-width: 0;
    cursor: pointer;
}
