h3 {
    font-size: 22px;
}

h2 {
    font-size: 26px;
}

.custom-heading {
    font-weight: bold; /* Make the text bold */
    margin-top: 20px; /* Adjust the top space (increase as needed) */
    margin-bottom: 20px; /* Adjust the bottom space (increase as needed) */
}

.form-group {
    margin-bottom: 20px;
}

.required {
    color: red; /* Change the color of the asterisk to red */
}
