h3 {
    font-size: 22px;
}

h2 {
    font-size: 26px;
}

.custom-heading {
    font-weight: bold; /* Make the text bold */
    margin-top: 20px; /* Adjust the top space (increase as needed) */
    margin-bottom: 20px; /* Adjust the bottom space (increase as needed) */
}

.form-group {
    margin-bottom: 20px;
}

.required {
    color: red; /* Change the color of the asterisk to red */
}

.sign-up-button {
    width: 50%;
    font-size: 20px;
    padding: 10px;
    border-radius: 50px 0 50px 0; /* Rounded corners */
    border: none; /* Initial border state */
    background-color: black; /* Initial background color */
    color: white; /* Initial text color */
    font-family: var(--font-family-sans-serif);
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease; /* Smooth transition for background color, border, and text color */
}

    .sign-up-button:hover {
        background-color: white; /* Background color on hover */
        color: #1a1a1a; /* Text color on hover */
        border: 2px solid black; /* Black border on hover */
    }

.login-link {
    color: black; /* Set text color to black */
    text-decoration: none; /* Remove underline */
}

    .login-link:hover {
        text-decoration: underline; /* Optional: Add underline on hover for better UX */
    }
