@{
    ViewData["Title"] = "Email xác nhận đã được gửi";
}

<h1>Email xác nhận đã được gửi</h1>
<h3>Nếu có bất kỳ tài khoản nào đã đăng ký với email mà bạn cung cấp, thì đường link xác nhận email sẽ được gửi.</h3>