@{
	ViewData["Title"] = "Xác nhận email";
}
<h3 class ="text-center mb-4">@ViewBag.Message</h3>

<div class="text-center">
	<a class="text-decoration-none" asp-controller="Account" asp-action="Login">Đăng nhập</a>
</div>
