@using Website_ASP.NET_Core_MVC.ViewModels;
@model RegisterConfirmationViewModel;
@{
	ViewData["Title"] = "Xác nhận đăng ký";
}

<h2>@ViewData["Title"]</h2>
<p>Cảm ơn bạn đã đăng ký, @Model.Email! Vui lòng kiểm tra email của bạn để xác nhận tài khoản.</p>
<p>Nếu bạn không thấy email, hãy kiểm tra thư mục thư rác hoặc <a asp-controller="Account" asp-action="ResendConfirmationEmail" asp-route-email="@Model.Email">gửi lại email xác nhận</a>.</p>
<a asp-controller="Home" asp-action="Index">Quay lại trang chủ</a>

@* @{
	ViewData["Title"] = "Đăng ký thành công";
}

<h3 class="text-center mb-4">
	Đăng ký thành công
</h3>
<h5 class="text-center mb-4">
	Trước khi bạn có thể đăng nhập, vui lòng xác nhận email của bạn bằng cách nhấn vào đường link xác nhận mà chúng tôi đã cung cấp trong mail cho bạn.
</h5>
<div class="text-center">
	<a class="btn btn-primary" asp-controller="Account" asp-action="ResendConfirmationEmail">Gửi lại Email xác nhận</a>
</div> *@