@model IEnumerable<Website_ASP.NET_Core_MVC.Models.DanhMuc>

@foreach (var item in Model)
{
    <li><a href="@Url.Action("Shop","Product", new { area = "", madm = item.MaDM })">@item.TenDanhMuc</a></li>
}
