@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
	ViewData["Title"] = "Quản lý vai trò";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Quản lý vai trò</h3>
<hr/>

<div class="col-md-6">
	<form method="post" asp-action="AddRole" asp-controller="RoleManager">
		<div class="input-group">
			<input name="roleName" class="form-control" placeholder="Nhập tên vai trò">
			<span class="input-group-btn">
				<button class="btn btn-info">Thêm vai trò mới</button>
			</span>
		</div>
	</form>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Vai trò</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var role in Model)
		{
			<tr>
				<td>@role.Id</td>
				<td>@role.Name</td>
			</tr>
		}
	</tbody>
</table>