@{
	ViewData["Title"] = "Đăng ký thành công";
}

<h3 class="text-center mb-4">
	Đăng ký thành công
</h3>
<h5 class="text-center mb-4">
	Trước khi bạn có thể đăng nhập, vui lòng xác nhận email của bạn, bằng cách nhấn vào đường link xác nhận mà chúng tôi đã gửi mail cho bạn.
</h5>
<div class="text-center">
	<a class="btn btn-primary" asp-controller="Account" asp-action="ResendConfirmationEmail">Gửi lại Email xác nhận</a>
</div>